@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --succes-color: #2ecc71;;
    --error-color: #e74c3c;
}


*{
    box-sizing: border-box;
}

body{

    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    margin: 0;
}

.container_login{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 600px;
    margin: 120px auto;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    color:#777;
    display: block;
    margin-bottom: 5px; 
    width: 50%;
}
 
.form-control input
{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;   
}

.form-control input:focus{
    outline: 0;
    border-color: #777;

}

.form-control.success input {
    border-color: var(--succes-color);
}

.form-control.error input {
    border-color: var(--error-color);    
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}
.form button {
    cursor: pointer;
    background-color: #226A35;
    border: 2px solid #226A35;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin:20px auto 0;
    width:50%;
}

.login_google__zalo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_google,
.login_zalo {
    display: flex !important;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-top:20px;
    width:48%;
}

.login_google {
    background-color: #DD4B39;
    border: 2px solid #DD4B39;
}

.login_zalo {
    background-color: #0180C7;
    border: 2px solid #0180C7;
}

.login_zalo__icon {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.login_zalo__icon img {
    width: 15px;
    height: 15px;
}

.login_google__icon,
.login_zalo__icon {
    margin-right: 10px;
}

.forgot_password {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.forgot_password__title {
    color: #777;
    text-decoration: none;
    font-size: 14px;
}

.form_control__custom {
  display: flex;
  align-items: center;
}


/* animation */
.login_button {
    position: relative;
}

.login_button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: all 0.5s ease-out;
  animation: shine 5s infinite;
  border-radius: 4px;
}

.login_google__zalo {
    position: relative;
}

.login_google__zalo::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: all 0.5s ease-out;
  animation: shine 5s infinite;
  border-radius: 4px;
}

@keyframes shine {
  0% {
    left: -100%;
  }

  25% {
    left: 100%;
  }

  50% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}